.header {
    *zoom: 1;
    padding: 20px 0 0;
    line-height: normal; }
.header:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }
.header .container {
    *zoom: 1; }
.header .container:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }



.logo {
    float: left;
    margin-bottom: 20px; }






.main-navigation {
    float: right; }
.main-navigation .menu-toggle {
    background: none;
    border: none;
    color: #333;
    padding: 10px;
    font-size: 18px;
    font-size: 1.125em;
    display: inline-block;
    vertical-align: top;
    outline: none;
    display: none; }

@media screen and (min-width: 990px) {
.responsive-button{display: none;}
    .main-navigation .menu {
        display: inline-block;
        vertical-align: top;
        list-style: none;
        *zoom: 1; }
}
@media screen and (max-width: 990px) {
    .main-navigation .menu{
        display: none;
        vertical-align: top;
        list-style: none;
        *zoom: 1;
    }
}


.main-navigation .menu:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0; }

.main-navigation .menu li {
    float: left;
    position: relative; }
.main-navigation .menu li a {
    padding: 10px 20px;
    display: block;
    color: #927e7e;
    font-size: 14px;
    font-size: 0.875em; }
.main-navigation .menu li:hover:before, .main-navigation .menu li:hover:after, .main-navigation .menu li:focus:before, .main-navigation .menu li:focus:after, .main-navigation .menu li.current-menu-item:before, .main-navigation .menu li.current-menu-item:after {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
.main-navigation .menu li:before, .main-navigation .menu li:after {
    content: " ";
    width: 100%;
    left: 0;
    height: 2px;
    background: #ed5151;
    position: absolute;
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
.main-navigation .menu li:before {
    top: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); }
.main-navigation .menu li:after {
    botom: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }