.preContainer {
    width: 100%;
    height: 30%;
    text-align:left;
    -webkit-transition: height 1s ease;
    /*position: absolute;*/
    /*top:25%;*/
}


/* ==== LITTLE DESK ====*/
.littleDesk {
    position: absolute;
    background: #f1f1f1;
    height: 20px;
    width: 300px;
    box-shadow: 6px 6px 15px 0 #9999cc;
    right: 7%;
    bottom: 65%;
    -webkit-transition: right 1s, bottom 1s ease;
}

/* ==== CACTUS ====*/
.cactus {
    position: relative;
    top: -35px;
    left: 16%;
}
.piant {
    background-color: #579951;
    border-radius: 64% 70% 0 0;
    box-shadow: inset 0 1px 11px #005f00;
    height: 49px;
    left: 18px;
    position: absolute;
    top: -53px;
    width: 25px;
}
.ground {
    position: absolute;
    background: #3a1d13;
    height: 4px;
    width: 60px;
    border-radius: 30px 30px 0 0;
    top: -4px;
}
.vase {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 65px;
    width: 50px;
    border-top: 35px solid rgba(177, 106, 40, 0.93);
    /*box-shadow: inset 0 1px 11px #005f00;*/
}
.book1 {
    position: absolute;
    box-sizing: border-box;
    border-radius: 0.25rem;
    background-color: #ff5244;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    box-shadow: inset 0 0 0.75rem rgba(0,0,0,0.67);
    transform: rotate(-90deg) translate(-12.4rem, 3rem);
    transform-origin: 0;
    width: 90px;
    height: 23px;
    left: 24%;
    top: -222px;
}
.book2 {
    position: absolute;
    box-sizing: border-box;
    border-radius: 0.25rem;
    background-color: #ffa54d;
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    box-shadow: inset 0 0 0.75rem rgba(0,0,0,0.67);
    width: 90px;
    height: 23px;
    left: 70.5%;
    top: -220px;
    transform: rotate(-56deg) translate(-12.4rem, 3rem);
    transform-origin: 0;
    outline: 1px solid transparent;
}
.book3 {
    position: absolute;
    box-sizing: border-box;
    border-radius: 0.25rem;
    background-color: rgba(84, 168, 74, 0.9);
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    box-shadow: inset 0 0 0.75rem rgba(0,0,0,0.67);
    transform: rotate(-90deg) translate(-12.4rem, 3rem);
    transform-origin: 0;
    width: 90px;
    height: 23px;
    left: 54.4%;
    top: -225px;
}
.book4 {
    position: absolute;
    box-sizing: border-box;
    border-radius: 0.25rem;
    background-color: #2396c2;
    font-size: 9px;
    text-align: center;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    box-shadow: inset 0 0 0.75rem rgba(0,0,0,0.67);
    transform: rotate(-90deg) translate(-12.4rem, 3rem);
    transform-origin: 0;
    width: 90px;
    height: 23px;
    left: 62%;
    top: -222px;
}
.book4:before {
    content:"";
    position: absolute;
    background: #151b1b;
    height: 4px;
    width: 106px;
    margin: 23px 0 0 0;
    left: -3px;
}
.book4:after {
    content:"";
    position: absolute;
    background: #151b1b;
    height: 4px;
    width: 68px;
    transform: rotate(-90deg) translate(0.6rem, -7.2rem);
    /*margin: 23px 0 0 0;*/
}

/* ===== CLOCK ===== */
.clock {
    position: absolute;
    left: 18%;
    background: #f1f1f1;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 6px solid #009787;
    bottom: 65%;
    -webkit-transition: left 1s, bottom 1s ease;
}

.clock:before {
    content: "";
    position: absolute;
    background: #e91e63;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    margin: 27px 0 0 27px;
}

.min {
    position: absolute;
    height: 100px;
    margin: -20px 0 0 28px;
}

.minFace {
    width: 4px;
    height: 24px;
    margin-top: 24px;
    background: #e91e63;
}

.hr {
    position: absolute;
    height: 100px;
    margin: -20px 0 0 28px;
}

.hrFace {
    width: 4px;
    height: 18px;
    margin-top: 30px;
    background: #e91e63;
}