/*===== FOOTER ===== */
.footer {
    width:100%;
    height:27%;
    background-color:#333;
    line-height:3em;
    text-align:left;
    border-top: solid 1px #000000;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 4;
    overflow: hidden;
}

.myScrollbar::-webkit-scrollbar{
    width: 8px;
}
.myScrollbar.thin::-webkit-scrollbar{
    width: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #333;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100,100,100,0.4);
}


/*====== ABOUT ======*/
.about{
    width: 33.33%;
    height: 100%;
    float: left;
    overflow: hidden;
    overflow-y: auto;
}

.about h4{
    text-align: center;
}

.about p{
    font-size:14px;
    line-height: normal;
    margin-top: -1px;
    margin-left: 2%;
    overflow-y: auto;
}


/*====== SOCIAL ======*/
.footer-social-icons {
    width: 33.34%;
    float: left;
    height: 100%;
    overflow: hidden;
}
.footer-social-icons h4{
    text-align: center;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    width: 180px;
    margin: auto;
    padding-left: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    padding-left: 18px;

}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.facebook-change {
    background-color: #3d5b99;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.linkedin-change {
    background-color: #0073a4;
}
.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-instagram:hover {
    background-color: #ffba3b;
}
.instagram-change {
    background-color: #ffba3b;
}
.fa-google {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.fa-google:hover {
    background-color: #e64a41;
}
.google-change {
    background-color: #e64a41;
}
a {
    text-align:center;
    position: relative;
}

/* pop-up text */
a span {
    color:#666;
    position:absolute;
    font-family:sans-serif;
    bottom:0;
    left:-15px;
    right:-25px;
    padding:0px 7px;
    z-index:1;
    font-size:14px;
    border-radius:10px;
    background:#fff;
    visibility:hidden;
    opacity:0;
    -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */
a span:before {
    content:'';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position:absolute;
    bottom:-5px;
    left:30px;
}

/* text pops up when icon is in hover state */
a:hover span {
    bottom:50px;
    visibility:visible;
    opacity:1;
}

/*====== CV ======*/
.cv{
    width: 33.3%;
    float: left;
    height: 100%;
}
.cv h4{
    text-align: center;
}